p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}



#card {
  margin: 10px;
  padding: 10px;
  border: solid 2px black;
  float: left;
  margin-left: 90px;
  box-shadow: 5px 5px 10px 10px rgb(red, green, blue);
}

#img1 {
  width: 250px;
  height: 200px;
}

#btn1 {
  margin-left: 300px;
}

button {
  width: 150px;
  margin: 30px !important;
  padding: 30px;

}


.btn-primary {
  display: block;
  margin: 30px auto 5;
  padding: 20px;
  width: 200px;
  background-color: #ff0008;
  color: rgb(35, 4, 4);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}